<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acrs.userapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/NoActionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.dashboard.DashboardActivty" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.buddy.buddy_add.BuddyRequestViewActvity" />
        <activity android:name=".ui.buddy.buddy_list.BuddyListActvity" />
        <activity android:name=".ui.emergency.EmergencyActvity" />
        <activity

            android:name=".ui.medicine.medicine_add.MedicineAddActivtiy"
            android:screenOrientation="portrait"

            ></activity>
        <activity
            android:name=".ui.medicine.medicine_list.MedicineListActvity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.notification.NotificationActivtiy" />

        <receiver android:name=".ui.medicine.medicine_list.MedicineAlarmReceiver">
            <intent-filter>
                <action android:name="com.acrs.userapp.ui.medicine" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.medicine.medicine_list.MedicineNotificationCancel" />

        <activity android:name=".PreviewDemo">

        </activity>

        <service android:name=".di.service.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".di.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>